{% extends 'base/base-admin.html.twig' %}

{% block title %}AppUser index{% endblock %}

{% block content %}
{{ parent() }}
    <h1>AppUser index</h1>

    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Roles</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for app_user in app_users %}
            <tr>
                <td>{{ app_user.id }}</td>
                <td>{{ app_user.name }}</td>
                <td>{{ app_user.email }}</td>
                <td>{{ app_user.roles ? app_user.roles|join(', ') : '' }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': app_user.id}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'id': app_user.id}) }}">edit</a>
                    <a href="{{ path('app_user_delete', {'id': app_user.id}) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_add') }}">Create new</a>
{% endblock %}
