{% extends 'base/base-admin.html.twig' %}

{% block title %}AppUser{% endblock %}

{% block content %}
    <h1>AppUser</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ app_user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ app_user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ app_user.roles ? app_user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ app_user.password }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ app_user.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_index') }}">back to list</a>

    <a href="{{ path('app_user_edit', {'id': app_user.id}) }}">edit</a>

{% endblock %}
